body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.container a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #0F2D52;
    transition: background-color 0.3s, transform 0.2s;
}
.container a:hover {
    background-color: #DAA900;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 45, 82, 0.8);
    color: white;
    padding: 0px 0px;
}

.logout-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.logout-button a {
    color: #3b5998;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
}

header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.logo {
    height: 75px;
}

.top-nav nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #0F2D52;
}

.main-content {
    width: 80%;
    margin: 20px auto;
}

.post-form, .posts, .follow-users {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

header a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

header a:hover {
    background-color: #365899;
}

form {
    margin-top: 20px;
}

form p {
    margin-bottom: 10px;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #42b72a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #36a420;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3b5998;
    color: white;
}

.post img {
    max-width: 100%;
    height: auto;
}

.top-nav {
    background-color: rgba(15, 45, 82, 0.8);
    padding: 10px 0;
    text-align: center;
}

.top-nav nav {
    display: inline-block;
}

.top-nav nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    background-color: #DAA900;
    transition: background-color 0.3s;
}

.top-nav nav a:hover {
    background-color: #2d4f8b;
}

.header-text {
    height: 75px;
}