<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>BobcatBuzz</h1>
    </header>

    <div class="top-nav">
        <nav>
            {% block navigation %}
            {% endblock %}
        </nav>
    </div>

    <div class="logout-button">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
