<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>Register</header>
    <div class="container">
        <form method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <a href="{{ url_for('login') }}">Already have an account? Login here</a>
    </div>
    <footer>Footer Content</footer>
</body>
</html>